/* 
12px = 0.75rem
18px = 1.125rem
#D9D9D9
#FF5833

*/

body {
    overflow-y: scroll;
}

/* header */
header {}
header .header_top {
    /* background-color: wheat; */
    width: 1500px;
    height: 108px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}
header .header_top h1 {width: 160px;}
header .header_top h1 a {}
header .header_top h1 a img {width: 100%;}
header .header_top .search {position:relative;}
header .header_top .search #search_box {
    /* background-color: turquoise; */
    width: 330px;
    height:40px;
    padding:0 28.5px;
    font-size:0.75rem;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
}
header .header_top .search #submit {
    display: block;
    width: 20px; height: 20px;
    position:absolute;
    right:15px; top:25%;
    background-image: url(../images/icon/ic-search-finder.png);
    background-size: cover;
}
header .header_top .user {
    display: flex;
    gap:30px;
}
header .header_top .user a {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
header .header_top .user a img {width: 25px; height: 25px;}
header .header_top .user a span {font-size: 0.75rem;padding-top:5px;}
header .header_top .user .login {}
header .header_top .user .mypage {}
header .header_top .user .cart {}
header nav {
    margin: 0 auto;
    width: 1500px;
}
header nav .gnb {
    /* background-color: wheat; */
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:50px;
    justify-content: left;
    padding: 10px 0;
}
header nav .gnb li {position:relative;}
header nav .gnb li a {
    font-size:1.125rem; font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:6px;
    color:#222;
}
header nav .gnb li a img {width:20px; height: 20px;}
header nav .gnb li a span {font-size:1.125rem; font-weight: 600; margin-top: 2px;color:#222;}
header nav .gnb li .lnb {
    background-color:#fff;
    border: 1px solid #D9D9D9;
    position: absolute;
    top:30px; left:0;
    display: flex;
    flex-flow: column nowrap;
    gap:35px;
    padding:30px 20px;
    width: 190px;
    /* 초기설정 */
    display:none;
}
header nav .gnb li:nth-child(1):hover .lnb {display: flex;}
header nav .gnb li .lnb li {}
header nav .gnb li .lnb li a {font-size: 1rem;}
/* footer */
footer {}
footer .top_wrap {
    border-top: 1px solid #EEEEEE;
}
footer .top_wrap .footer_top {
    background-color: wheat;
    max-width:1500px;
    margin: 0 auto;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:50px 0;
}
footer .top_wrap .footer_top .center_info {}
footer .top_wrap .footer_top .center_info p {color:#686868;margin:10px 0;}
footer .top_wrap .footer_top .center_info .title {
    font-size: 1.125rem;
    font-weight: 600;
    color:#000;
    margin-bottom: 20px;
}
footer .top_wrap .footer_top .center {}
footer .top_wrap .footer_top .center a {
    color:#fff;
    font-size: 1.125rem;
    padding:20px 70px;
    background-color:#EB5500;
    border-radius:10px;
}
footer .btm_wrap {background-color: #F5F5F5;}
footer .btm_wrap .footer_btm {
    max-width:1500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding:91px 0;
}
footer .btm_wrap .footer_btm .clause {}
footer .btm_wrap .footer_btm .clause a {
    font-size: 1.125rem;
    font-weight: 600;
    color:#636363;
}
footer .btm_wrap .footer_btm .clause a::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: #636363;
    transform: translateY(2px);
    margin:0 20px;
}
footer .btm_wrap .footer_btm .clause a:last-child::after {display: none;}
footer .btm_wrap .footer_btm .sns {}
footer .btm_wrap .footer_btm .sns a {margin:0 10px;}
footer .btm_wrap .footer_btm .sns a img {}