/*
14px = 0.875rem
18px = 1.125rem
20px = 1.25rem
35px = 2.188rem

#EB5500,#CCCCCC,#FFF8F4,#606060,


*/



main {}
/* main ============================= bnr */
main #bnr {
    width: 100%;
    overflow: hidden;
}
main #bnr .bnr_container {
    width: 1920px;
    margin:53px auto;
    position: relative;
}
main #bnr .bnr_container #bnr_swiper {}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper {}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .swiper-slide {
    height: 500px;
    width: 650px;
    background-size: cover;
}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide1 {background-image: url(../images/bnr1.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide2 {background-image: url(../images/bnr2.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide3 {background-image: url(../images/bnr3.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide4 {background-image: url(../images/bnr4.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide5 {background-image: url(../images/bnr5.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide6 {background-image: url(../images/bnr6.jpg);}
main #bnr .bnr_container .swiper-button-prev {
    background-image: url(../images/icon/arrow.png);
    background-position: center;
    background-size: cover;
    transform: rotate(270deg);
    position: absolute;
    width: 30px;
    height: 30px;
    top:532px; left:1530px;
    z-index: 10;
    /* background-color: red; */
}
main #bnr .bnr_container .swiper-button-prev::after {display: none;}
main #bnr .bnr_container .swiper-button-next {
    /* background-color: aqua; */
    background-image: url(../images/icon/arrow.png);
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    position: absolute;
    top:532px; right:250px;
    z-index: 10;
}
main #bnr .bnr_container .swiper-button-next::after {display: none;}
main #bnr .bnr_container #bnr_scrollbar {
    position: absolute;
    bottom:-29px; left:100px;
    width:1300px;
}
main #bnr .bnr_container #bnr_pagination {
    color:#686868;
    position:absolute;
    top:518px; left:640px;
}
main #bnr .bnr_container #bnr_pagination span {color:#686868;}
/* main ============================= best */
main #best {
    margin-top:100px;
    text-align: center;
    /* background-color: wheat; */
}
main #best .best_category {}
main #best .best_category .best_title {/* background-color: lightblue; */ padding:30px 0;}
main #best .best_category .best_title p:first-child {}
main #best .best_category .best_title p img {
    display: block;
    width: 100px;
    margin: 0 auto;
}
main #best .best_category .best_title h2 {font-size: 2.188rem; margin:10px 0;}
main #best .best_category .best_title p span {font-size: 1.25rem;}
main #best .best_category .best_mainitem {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap:40px;
}
main #best .best_category .best_mainitem li {
    width: 93px; height: 97px; 
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    /* background-color: lightcoral; */
}
main #best .best_category .best_mainitem li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 97px;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 50px;
    padding-top: 60px; /* 아이콘 공간 확보 */
}
/* best 카테고리 이미지 기본 */
main #best .best_category .best_mainitem li a.ranking {background-image: url(../images/icon/ranking_b.png);}
main #best .best_category .best_mainitem li a.cart {background-image: url(../images/icon/cart.png);}
main #best .best_category .best_mainitem li a.price {background-image: url(../images/icon/price.png);}
main #best .best_category .best_mainitem li a.reward {background-image: url(../images/icon/reward.png);}
/* best 카테고리 이미지 변경 */
main #best .best_category .best_mainitem li.active a.ranking {background-image: url(../images/icon/best_ic_hot.gif);}
main #best .best_category .best_mainitem li.active a.ranking span {color:#EB5500;}
main #best .best_category .best_mainitem li.active a.cart {background-image: url(../images/icon/best_ic_price.gif);}
main #best .best_category .best_mainitem li.active a.cart span {color:#EB5500;}
main #best .best_category .best_mainitem li.active a.price {background-image: url(../images/icon/best_ic_repurchase.gif);}
main #best .best_category .best_mainitem li.active a.price span {color:#EB5500;}
main #best .best_category .best_mainitem li.active a.reward {background-image: url(../images/icon/best_ic_steady.gif);}
main #best .best_category .best_mainitem li.active a.reward span {color:#EB5500;}
/* ---------------------------- */
main #best .best_category .best_mainitem li a img {width:50px;height:50px;}
main #best .best_category .best_mainitem li a span {font-size:0.875rem;}
main #best .best_category .best_sub {position: relative;}
main #best .best_category .best_sub .sub_item {}
main #best .best_category .best_sub .sub_item .swiper {}
/* 개별 선택자 */
main #best .best_category .best_sub .item1 {}
main #best .best_category .best_sub .item2 {display: none;}
main #best .best_category .best_sub .item3 {display: none;}
main #best .best_category .best_sub .item4 {display: none;}
main #best .best_category .best_sub.active .item1 {display: block;}
main #best .best_category .best_sub.active .item2 {display: block;}
main #best .best_category .best_sub.active .item3 {display: block;}
main #best .best_category .best_sub.active .item4 {display: block;}
/* 공통선택자 */
main #best .best_category .best_sub .sub_item .swiper {
    width: 1320px;
    /* background-color: lightcoral; */
}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper {margin:50px 0;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide {position:relative;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .cart {
    position:absolute;
    bottom:120px; right:20px;
    z-index: 99;
}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .cart a {width: 40px;height: 40px;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .cart a img {width: 100%;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .thum {
    width: 400px; height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .thum a {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .thum a img {width: 100%;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail {margin:15px 0;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a p {margin:15px 0;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a .title {font-weight: 600;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a .contents {font-size: 0.875rem; color:#606060;}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a .price {font-size: 1.25rem;font-weight: 600;}
main #best .best_category .best_sub .sub_item .swiper-button-prev {
    background-image: url(../images/icon/arrow.png);
    transform:rotate(270deg);
    width: 50px;
    height: 50px;
    left:200px;
    top:250px;
}
main #best .best_category .best_sub .sub_item .swiper-button-prev::after {display:none;}
main #best .best_category .best_sub .sub_item .swiper-button-next {
    background-image: url(../images/icon/arrow.png);
    transform:rotate(90deg);
    width: 50px;
    height: 50px;
    right:200px;
    top:250px;
}
main #best .best_category .best_sub .sub_item .swiper-button-next::after {display:none;}
main #best .best_category .best_sub .sub_item .swiper-scrollbar {
    width: 742px;
    z-index: 99;
}
/* main ============================= ranking */
main #ranking {display: none;}
main #ranking .ranking_wrap {}
main #ranking .ranking_wrap .ranking_title {}
/* main ============================= time_sale */
main #time_sale {display: none;}
/* main ============================= video */
main #video {display: none;}
/* main ============================= category1 */
main #category1 {display: none;}
/* main ============================= subbnr */
main #subbnr {display: none;}
/* main ============================= category2 */
main #category2 {display: none;}
/* main ============================= category3 */
main #category3 {display: none;}
