
main {}
/* main ============================= bnr */
main #bnr {
    width: 100%;
    overflow: hidden;
}
main #bnr .bnr_container {
    width: 1920px;
    margin:53px auto;
    position: relative;
}
main #bnr .bnr_container #bnr_swiper {}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper {}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .swiper-slide {
    height: 500px;
    width: 650px;
    background-size: cover;
}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide1 {background-image: url(../images/bnr1.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide2 {background-image: url(../images/bnr2.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide3 {background-image: url(../images/bnr3.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide4 {background-image: url(../images/bnr4.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide5 {background-image: url(../images/bnr5.jpg);}
main #bnr .bnr_container #bnr_swiper .swiper-wrapper .slide6 {background-image: url(../images/bnr6.jpg);}
main #bnr .bnr_container .swiper-button-prev {
    background-image: url(../images/icon/arrow.png);
    background-position: center;
    background-size: cover;
    transform: rotate(270deg);
    position: absolute;
    width: 30px;
    height: 30px;
    top:532px; left:1530px;
    z-index: 10;
    /* background-color: red; */
}
main #bnr .bnr_container .swiper-button-prev::after {display: none;}
main #bnr .bnr_container .swiper-button-next {
    /* background-color: aqua; */
    background-image: url(../images/icon/arrow.png);
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
    position: absolute;
    top:532px; right:250px;
    z-index: 10;
}
main #bnr .bnr_container .swiper-button-next::after {display: none;}
main #bnr .bnr_container #bnr_scrollbar {
    position: absolute;
    bottom:-29px; left:100px;
    width:1300px;
}
main #bnr .bnr_container #bnr_pagination {
    color:#686868;
    position:absolute;
    top:518px; left:640px;
}
main #bnr .bnr_container #bnr_pagination span {color:#686868;}
/* main ============================= best */
main #best {}
main #best .best_category {}
main #best .best_category .best_mainitem {}
main #best .best_category .best_mainitem li {}
main #best .best_category .best_mainitem li a {}
main #best .best_category .best_mainitem li a img {}
main #best .best_category .best_sub {}
main #best .best_category .best_sub .sub_item {}
/* 개별 선택자 */
main #best .best_category .best_sub .sub_item #best_hot {}
main #best .best_category .best_sub .sub_item #best_repurchase {}
main #best .best_category .best_sub .sub_item #best_sum {}
main #best .best_category .best_sub .sub_item #best_topranking {}
main #best .best_category .best_sub .sub_item #best_hot .swiper-wrapper {}
main #best .best_category .best_sub .sub_item #best_repurchase .swiper-wrapper {}
main #best .best_category .best_sub .sub_item #best_sum .swiper-wrapper {}
main #best .best_category .best_sub .sub_item #best_topranking .swiper-wrapper {}
/* 공통선택자 */
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide #cart {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide #cart a {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide #cart a img {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .thum {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .thum a {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .thum a img {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a p {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a .title {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a .contents {}
main #best .best_category .best_sub .sub_item .swiper .swiper-wrapper .swiper-slide .item_wrap .item_detail a .price {}
main #best .best_category .best_sub .sub_item .swiper .swiper-button-prev {}
main #best .best_category .best_sub .sub_item .swiper .swiper-button-next {}
main #best .best_category .best_sub .sub_item .swiper .swiper-scrollbar {}
/* main ============================= ranking */
main #ranking {}
main #ranking .ranking_wrap {}
main #ranking .ranking_wrap .ranking_title {}
/* main ============================= time_sale */
/* main ============================= video */
/* main ============================= category1 */
/* main ============================= subbnr */
